.idea/
venv
venv/**/*
*.pyc

*.egg-info
*.egg-info/**/*
*.egg-info/**/**/*
*.egg-info/**/**/**/*
*.egg-info/**/**/**/**/*
*.egg-info/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/**/**/*
.amazonq
.claude
.codex
.cursor
__pycache__
.amazonq/**/* 
.amazonq/cli-todo-lists/*
