.idea/
venv
venv/**/*
*.pyc

*.egg-info
*.egg-info/**/*
*.egg-info/**/**/*
*.egg-info/**/**/**/*
*.egg-info/**/**/**/**/*
*.egg-info/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/**/*
*.egg-info/**/**/**/**/**/**/**/**/*